button, input[type="button"], input[type="submit"] {
    width: 10%;
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 2px;
    width: 10%;
}

tr:nth-child(even) {
    background-color: lightgray;
}