body {
    background-image: linear-gradient(to right,#ffddd1,#f0c9d7,#d4c2e1,#bdd7ea,#c0f0f4);
    background-size: cover;
}

.position{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 50px;
}

.inline-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.square{
    height: 300px;
    width: 200px;
    background-color: whitesmoke;
}

.position-text1{
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 20px;
}

.position-text2{
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 20px;
}
.container{
    display: flex;
    flex-direction: row;
}
.left{
    width: 20%;
    height: 100vh;
    text-align: center;
}
.center{
    width: 50%;
    height: 100vh;
    text-align: left;
}

.right{
    width: 30%;
    height: 100vh;
}