*{
    font-family: Calibri;
}

body {
    background-image: linear-gradient(to right,#ffddd1,#f0c9d7,#d4c2e1,#bdd7ea,#c0f0f4);
    background-size: cover;
}

.position{
    display: block;
    padding-top: 20px;
    margin-left: 90px;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}

h1{
    font-family: fantasy;
    font-size: 600%;
    font-weight: bold;
    margin-right: 50px;
    padding-top: 50px;
}

.hidden{
    display: none;
}

.visible{
    display: inline-block;
}







