body {
    background-image: linear-gradient(to right,#ffddd1,#f0c9d7,#d4c2e1,#bdd7ea,#c0f0f4);
    background-size: cover;
}

.hidden{
    display: none;
}

.visible{
    display: inline-block;
}







