<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account overview of wishlists</title>
    <link rel="stylesheet" th:href="@{css/accountwishlists.css}">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div class="navbar" th:replace="fragments/navbar :: navbar(~{::span})">
<span class="menu_right">
    <span>Logged in as :</span>
    <span id="account" th:text="${userName}"></span>
</span>
</div>
<div class="position">
    <div class="inline-block">
        <p class="position-text1"><h3>Make a wish: </h3></p>
        <button class="position-text1" onclick="location.href='/createwishlist'">Create wishlist</button>
    </div>
    <div class="inline-block">
        <p class="position-text2"><h3>Your wishlists</h3></p>
        <p class="square"></p>
    </div>
</div>
<footer th:replace="fragments/footer">
</footer>
</body>
</html>