<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account overview of wishlists</title>
    <link rel="stylesheet" th:href="@{css/accountwishlists.css}">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div class="navbar" th:replace="fragments/navbar :: navbar(~{::span})">
<span class="menu_right">
    <span>Logged in as :</span>
    <span id="account" th:text="${userName}"></span>
</span>
</div>
<br><br>
<div class="container">
    <div class="left">
        <h3>Make a wish:</h3>
        <button onclick="location.href='/createwishlist'">Create wishlist</button>
    </div>
    <div class="center">
        <table>
            <tr>
                <td><h3>Your wishlists</h3></td>
                <td><h3>URL to share</h3></td>
            <tr th:each="wishlist : ${wishlists}">
                <td th:text="${wishlist.getWishListName()}"></td>
                <td>http://localhost:8080/reserve?wishlist=</td>
                <td th:text="${wishlist.getWishlistID()}"><</td>
            </tr>
        </table>
    </div>
    <div class="right">
        <img src="Cutie-no-background.png" th:height="500" th:width="350">
    </div>
</div>
<footer th:replace="fragments/footer">
</footer>
</body>
</html>