<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One employee</title>
    <link rel="stylesheet" th:href="@{style.css}" type="text/css">
</head>
<body>
<button onclick="window.location.href='/index'">Back to index</button>
<br>
<h1>A single employee</h1>
<br>
<form action="/employee">
    <label for="id">ID to find</label>
    <select name="id" id="id">
        <option th:each="id : ${employees}" th:value="${id.getEmpNo()}"
                th:text="${id.getEmpNo()}"></option>
    </select>
    <input type="submit" value="Submit">
</form>
<br><br>
<table>
    <th>Employee</th>
    <th>Name</th>
    <th>Job</th>
    <th>Manager</th>
    <th>Hire date</th>
    <th>Salary</th>
    <th>Commission</th>
    <th>Dept</th>
    <tr>
        <td th:text="${employee.getEmpNo()}"></td>
        <td th:text="${employee.getEmpName()}"></td>
        <td th:text="${employee.getEmpJob()}"></td>
        <td th:text="${employee.getEmpMan()}"></td>
        <td th:text="${employee.getEmpHireDate()}"></td>
        <td th:text="${employee.getEmpSalary()}"></td>
        <td th:text="${employee.getEmpComm()}"></td>
        <td th:text="${employee.getEmpDeptNo()}"></td>
    </tr>
</table>
</body>
</html>