<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fail login</title>
    <link rel="stylesheet" th:href="@{css/faillogin.css}">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span>Viewing as :</span>
    <span id="account" th:text="${username}"></span>
    <span th:replace="fragments/buttons">
    </span>
</div>
<div><br><br><br>
    <h1>Login failed. Please try again</h1>
    <button onclick="location.href='/login'">Return to sign in</button>
</div>

<footer th:replace="fragments/footer">
</footer>
</body>
</html>