<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishi</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div>
<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span>Viewing as :</span>
    <span id="account" th:text="${userName}"></span>
    <span th:replace="fragments/buttons">
    </span>
</div>

<div class="position">
    <div class="inline-block">
        <img src="Cutie-no-background.png" th:height="750" th:width="600">
    </div>
    <div class="inline-block">
        <h1>WiSHi</h1><br>
    </div>
</div>

<footer th:replace="fragments/footer">
</footer>
</div>
</body>
</html>