<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserve</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/images.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div>
<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
<span class="menu_right">
    Welcome - <span th:text="${username}"></span>
</span>
</div>
<br><br>
<p>Wish list from URL</p>
<div>
    <h2 th:text="${currentWishlist.getWishListName()}"></h2>
</div>
<div>
    <h3>Has these wishes</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>URL</td>
        <tr th:each="wish : ${listOfWishes}">
            <td th:text="${wish.getName()}"></td>
            <td th:text="${wish.getDescription()}"></td>
            <td th:text="${wish.getPrice()}"></td>
            <td th:text="${wish.getURL()}"></td>
            <td><a  th:href="@{/reservewish(list=${currentWishlist.getWishlistID()}, wish=${wish.getWishID()})}">
                <button type="submit">Reserve</button>
            </a></td>
        </tr>
    </table>
</div>
</br>
</div>
<footer th:replace="fragments/footer">
</footer>
</body>
</html>