<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/images.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div class="navbar" th:replace="fragments/navbar :: navbar(~{::span})">
<span class="menu_right">
    <span th:text="${username}"></span>
</span>
</div>
<br><br>
<h1>Sign in form</h1>
<form name="form" id="sign_in" action="/login" method="POST">

    <label for="userName">Username</label><br>
    <input type="text" id="userName" name="userName" autocomplete="off" autofocus/>
    <br><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" autocomplete="off"/>
    <br><br>

    <div>
    <button id="resetButton" class="visible" type="button" onclick="resetForm()">Reset form</button>
    <button id="submitButton" class="visible" type="submit" onclick="location.href='../login'">Submit</button>
    </div>

</form>
<script th:inline="javascript">

    disableEnter("userName");
    disableEnter("password");

    function disableEnter(id) {
        let el = document.getElementById(id);
        el.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
            }
        });
    }

    function resetForm() {
        document.form.userName.value = "";
        document.form.password.value = "";
    }
</script>
<footer th:replace="fragments/footer">
</footer>
</body>
</html>
